@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    background: black;
    color: white;
    display: grid;
    place-items: center;
}

section {
    background: rgba(255, 255, 255, .3);
    border: 2px solid rgba(255, 255, 255, .5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 50px;
    font-size: 100px;
}
 
button {
    border-radius: 4px;
    width: 40%;
 }

